html, body {
	margin: 0px;
	padding: 0px;
	overflow: auto;
	height: 100%;
}

#disasm {
	margin: 0px;
	padding: 0px;
	font-family: Consolas, monospace;
	font-size: 9pt;
	border-collapse: collapse;
	width: 100%;
	white-space: pre;
}

#disasm tr:first-child th { border-top: none; }

#disasm th {
	text-align: left;
	border-top: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
}

#disasm tr > *:first-child {
	-webkit-user-select: none;
	border: none;
	border-right : 1px #ccc solid;
	background-color: #ededed;
}

#disasm td {
	height: 13px;
	padding: 0px 0px 0px 1px;
}

#disasm td:nth-child(1) {
	font-size: 8pt;
	padding-right: 4px;
	border-right: 1px #ccc solid;
	text-align: right;
	width: 10ex;
}

#disasm td:nth-child(2) {
	width: 15px;
	height: 0px;
	padding: 0px;
}

#disasm td:nth-child(2) > img {
	display: block;
	margin: 0px;
	padding: 0px;
	margin-top: -1px;
	margin-bottom: -2px;
}

#disasm td:nth-child(3) {
	border-right: 1px #ccc solid;
	text-align: right;
	padding-left: 0px;
	width: 10ex;
	color: #555;
}

#disasm td:nth-child(4) {
	width: 15ex;
}

.dereference {
	text-decoration: none;
}

#disasm tr.breakpoint > td:first-child {
	color: white;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	padding-left: 0px;
	border: 1px #1f65a5 solid;
	border-right: none;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	background: -webkit-linear-gradient(top,
		rgba(107,156,199,1) 0%,
		rgba(97,150,195,1) 50%,
		rgba(91,146,193,1) 51%,
		rgba(79,137,187,1) 100%);
}

#disasm tr.breakpoint > td:nth-child(2) {
	background-image: url('cxdb://resource/breakpoint-end.png');
	background-repeat: no-repeat;
}

#disasm tr.current img { height: 14px; }

#disasm tr.current > td:not(:first-child) {
	border-top: 1px #d8e1cb solid;
	border-bottom: 1px #d8e1cb solid;
	background-image: -webkit-linear-gradient(top,
		#eff4e8 0%,
		#eaefe3 50%,
		#e6ebdf 51%,
		#e7ece0 100%);
	height: 1em;=
}